body {
	background:url(img/backgroundImage.jpeg) no-repeat left top fixed;
	background-size: 100%  100%;
	overflow-y:scroll;
}


img{
	margin:0px;
	padding:0xp;
}

#theWell {
	position:absolute;
	left:15%;
	bottom:10%;
	cursor:pointer;
}

#wishForm {
	border:2px solid black;
	position:absolute;
	right:10%;
	width:500px;
	height:300px;
	text-align:center;
	
}
#backgroundWishForm {
	border:2px solid black;
	background-color: black;
	opacity: .7;
	position:absolute;
	right:10%;
	width:500px;
	height:300px;
	text-align:center;
	background-color:#669999;
	border-radius:2px;
}
#userFeed{
	border:2px solid black;
	position:absolute;
	right:10%;
	width:500px;
	height:500px;
	text-align:center;
	bottom:2%;
	overflow-y:scroll;
}
#backgroundUserFeed{
	border:2px solid black;
	position:absolute;
	right:10%;
	width:500px;
	height:500px;
	text-align:center;
	bottom:2%;
	opacity: .7;
	background-color:#CCCCB2;
	overflow-y:scroll;
	border-radius:2px;
	box-shadow:5px 5px 10px #000000;
}

.wellButton {
	margin:5px;
}

#venmo{
display: inline;
background: #3D95CE;
background-image:url(img/venmo_logo_white.svg);
/* background: rgba(061, 149, 206, 0.9); */
font-size: 14px;
text-transform: uppercase;
padding: 8px 16px;
color: #fff;
border: none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
font-size: 14px;
line-height: 14px;
opacity: .9;
-webkit-appearance: button;
cursor: pointer;
vertical-align: baseline;
font-family: sans-serif;
text-align: center;
text-shadow: none;
}


